.material-icons { font-size: 18px; }

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: black;
  font-family: 'Rubik', sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 100%;
}

canvas {
  z-index: -1;
}

#main-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#app-title {
  font-family: 'Bungee Shade', cursive;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-size: 40px;
}

#app-title:hover {
  cursor: default;
}

#social-links {
  padding: 10px;
  border-radius: 5px;
  font-size: 30px;
}

#social-links i:hover {
  cursor: pointer;
}

#ui-controls {
  display: flex;
  flex-wrap: wrap;
}

button {
  display: flex;
  font-size: 16px;
  outline: none;
  background-color: white;
  border: 2px solid black;
  height: 32px;
  margin: 5px;
  border-radius: 5px;
}

button:hover {
  border: 2px solid teal;
  color: teal;
  cursor: pointer;
}

.button-contents {
  display: flex;
  align-items: center;
}

.fa {
  color: white;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    border-radius: 5px;
    border: none;
    margin: auto;
    z-index: 0; /* Sit on top */
    left: 0;
    top: 25%;
    width: 100%; /* Full width */
    height: 1000%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #607D8B;
    color: white;
}

.modal-header i {
  color: white;
  font-size: 24px;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #607D8B;
    color: white;
    font-size: 30px;
}

.modal-social-links {
  margin: auto;
  text-align: center;
}

/* Modal Content */
.modal-content {
    position: relative;
    font-size: 16px;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    border-radius: 5px;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}
/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}
